<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>
  <div class="form-group">
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, id: :test_title, placeholder: "Title", class: "form-control" %>
    </p><br>
    
    <p>
      <%= form.label :image %><br>
      <%= form.text_field :image, id: :test_image, placeholder: "Url of image", class: "form-control" %>
    </p><br>
  
    <p>
      <%= form.label :description %><br>
      <%= form.text_field :description, id: :badge_description, placeholder: "Short Description", class: "form-control" %>
    </p><br>

    <p>
      <%= form.label :choice %><br>
      <%= form.text_field :choice, id: :badge_choice, placeholder: "Enter the number of Rule", class: "form-control" %>
    </p><br>
    
    <p>
      <%= form.label :subject %><br>
      <%= form.text_field :subject, id: :badge_subject, placeholder: "Enter the subject", class: "form-control" %>
    </p><br>

    <p><%= form.submit %></p>
  </div>
<% end %>

    