<h1> The <%=@test_passage.test.title %> Test was Completed!</h1>

<% success_rate = @test_passage.percent_of_correct_answers %>
<% if success_rate >= 85 %>
  <% color = 'green' %>
  <% result = 'passed' %>
<% else %>
  <% color = 'red' %>
  <% result = 'failed' %>
<% end %>

<h3 style="color: <%=color%>">The Test is <%= result %>. You got <%= format("%3.f", success_rate) %>% of correct answers. </h3>
  
<%= link_to 'Back to Tests', tests_path %>