<h1> The <%=@test_passage.test.title %> Test was Completed!</h1>

<h3 style="color: <%= color_of_result_message %>">
  The Test is <%= @test_passage.test_result %>. 
  You got <%= format("%3.f", @test_passage.percent_of_correct_answers) %>% of correct answers. 
</h3>
  
<%= link_to 'Back to Tests', tests_path %>