<nav class="navbar navbar-light bg-light">
  <%= link_to t('nav_bar.user_header'), root_path, class: 'navbar-brand' %>

  <% if user_signed_in? %>
    <%= link_to t('nav_bar.link_admin_panel'), admin_tests_path, class: "nav-link active" if current_user.admin? %>
  <% end %>

  <span class="navbar-text">
    <% if user_signed_in? %>
      <p class="nav user">
        <%= t('nav_bar.greetings_html', email: current_user.email) %> | 
        <%= t('nav_bar.link_achievements_html', url: achievements_path) %> |
        <%= link_to t('nav_bar.logout'), destroy_user_session_path, method: :delete %>
      </p>
    <% else %>
      <p class="nav user">
        <%= link_to t('nav_bar.sign_up'), new_user_registration_path %> | 
        <%= link_to t('nav_bar.login'), new_user_session_path %>
      </p>
    <% end %>
  </span>
</nav>


