<div class="card justify-content-center mt-3 index-page">
  <div class="card-header text-center">
    <h1><%= t('.header') %></h1>
  </div>

  <div class="card-body">
    <p> 
      <%= link_to t('.link_new_test'), new_admin_test_path, class: "btn btn-outline-success" %>
    </p>
    
    <p> 
      <%= link_to t('.link_gists_index'), admin_gists_path, class: "btn btn-outline-primary" %>
    </p>

    <%= render 'shared/errors', resource: @test %>

    <table class="table text-center">
      <thead>
        <tr> 
          <th class="sort-by-title pointer">
            <%= t('tests_table.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th><%= t('tests_table.level') %></th>
          <th><%= t('tests_table.number_of_questions') %></th>
          <th><%= t('tests_table.actions') %></th>
        </tr>
      </thead>
      </tbody class="tbody" >   
        <%= render @tests %>
      </tbody>
    </table>
  </div>
</div>
