<p>
  <%= t('.title_html') %>
  <%= @test.title %>
</p>

<p>
  <%= t('.level_html') %>
  <%= @test.level %>
</p>
<%= link_to t('.edit_test'), edit_admin_test_path(@test) %>
<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
<table>
    <tr> 
      <th><%= t('.question') %></th>
      <th colspan="3"><%= t('.actions') %></th>
    </tr>
 
    <%= render @test.questions %>
</table>
<%= link_to t('link_back'), admin_tests_path %>