<h1><%= t('tests.index.header') %></h1>

<table>
    <tr> 
      <th><%= t('tests_table.title') %></th>
      <th><%= t('tests_table.level') %></th>
      <th><%= t('tests_table.number_of_questions') %></th>
      <th><%= t('tests_table.actions') %></th>
    </tr>
 
    <%= render @tests %>
</table>
