<div class="card justify-content-center mt-3">
  <div class="card-header text-center">
    <h1><%= t('tests.index.header') %></h1>
  </div>

  <table class='table text-center'>
      <thead>
        <tr> 
          <th class="sort-by-title pointer">
            <%= t('tests_table.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th><%= t('tests_table.level') %></th>
          <th><%= t('tests_table.number_of_questions') %></th>
          <th><%= t('tests_table.actions') %></th>
        </tr>
      </thead>
      <tbody class='tbody'>
        <%= render @tests %>
      </tbody>
  </table>
</div>
