<h1><%= t('.header') %></h1>

<%= form_with url: feedback_path, local: true  do |form| %>
  <p>
    <%= form.label :message %><br>
    <%= form.text_field :message, rows: 6, cols: 60, id: :feedback_message %>
  </p><br>
  <%= form.submit %>
  <p>
    <%= link_to t('link_back'), root_path %>
  </p>
<% end %>
